{% for secret_name, secret in (secrets | default({})).items() %}
---
apiVersion: v1
data:
{% for key, value in secret.items() | sort %}
{% if value is string %}
  "{{ key }}": "{{ value | b64encode }}"
{% else %}
  "{{ key }}": "{{ value | to_nice_json | b64encode }}"
{% endif %}
{% endfor %}
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{application_name}}-{{ env }}
type: Opaque
{% endfor %}