-----BEGIN CERTIFICATE-----
MIIDazCCAlOgAwIBAgIUYqQUx0I8JdC6SmKpf4BMhLHdaDEwDQYJKoZIhvcNAQEL
BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMDA4MTYxNjA5MTVaFw0yMTA4
MTYxNjA5MTVaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQDMJBE96Gt+cg9mf6lBSZw+K+u7fPqABohPvIHX8g+8
vOgw935MlNM4M1hVvnjx0plcTsiDEyrvOMBFeNy+FN4jAQmyDyzCLr0SN0Siz+2F
OwmTIIdUAa2nMe/jG+mM4CFj2UDKYttbnF0y8wCFsl8k0U2QOAhg5CLTEy0MWtP9
9U69wLIeUk7rDdtHYLsZzM3lbLRwGV40hp7/22jklLstce94uS67C2Jz5yBEd8SS
nrLYhtAyrhyTGR+NKxQQFmWfjfKKH4XFXy6srzedG6Ig9yd8QcbLs8yesmF77KWg
3TFSzZernscp/a55iDtPOWZI6GIhaEhB+YL4ft2MP1PRAgMBAAGjUzBRMB0GA1Ud
DgQWBBQD5qiksakOIxB0TWvy3/HYjNvNsjAfBgNVHSMEGDAWgBQD5qiksakOIxB0
TWvy3/HYjNvNsjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQBp
H250rR7QdRpAYLRe4ITFIQa41ikm6NJRS19bWvLjDXWImlmVOAp41DKMSNB0xzy8
3XVp3S57HY/a5Ipom051WEOiRldHMPRYgCXvJD6kW+FNym3afP+0fuIiD9BmdA1a
i6TV8ztp3RsIbzc6dSnfKHjeKap5G+dBwpylVdtTOfj/ZW88M5LCd9/V8M3o9FJm
wab1a0VqcyL1GyyGKgfnKdZxZDrzEEZfRRNOUnC2o0c4rSIiSu39frByb5Zh5FU8
0biFaZ+JhWsQwBbeiQidSuxTAtwjzcLZ5Pt7PR0GZLSVMws82GgQIyOkHCvQST82
Womr3cAt9f5YDElvQvhr
-----END CERTIFICATE-----
